@*@{
    Layout = null;
}
@Styles.Render("~/Content/css")*@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" /> <!-- set language -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- browser IE use lastest version -->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!-- respone on every device -->

    <title>My First Boostrap Application</title>

    <!--[if lt IE 9] >
    <script scr="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script scr="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>

<body>

    <div class="bigbox">
        <!--bigest -->
        <p class="center" ; class="font"><B>Event  Organize</B></p>

        <div class="boxq">
            <p class="quote">
                Life is not about waiting for the storm to pass.
                It is about learning to dance in the rain.
            </p>

        </div>

        <div class="box0">

            <div class="box1">
                <a href="#" class="btn1"><b> Get started </b></a>
            </div>
            <div class="box1">
                <a href="#" class="btn2"><b> Log in  </b></a>
            </div>

        </div>
    </div><!-- bigest -->

</body>
</html>





